=form_tag users_path, :method => 'get' do
  =select_tag "role", options_for_select(User.VALID_ROLES.to_a, @selected), :prompt => "Choose what to filter on"
  =submit_tag "Filter", :class => 'btn'

= simple_table_for @users, with: UserTable
