<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Overbooking for <%= @calendar.name %></h1>
    <p>
      <%= @calendar.name %> has been overbooked. Please check your account and resolve this issue.
    </p>
    Thank you for your time and have a wonderful day!
  </body>
</html>
