= bootstrap_form_tag requests_path, :method => :get, :class => 'form-inline' do
	= bootstrap_select_tag 'filter', options_for_select(%w(All Pending Approved Rejected).map { |e| [e,e] }, params[:filter] || "All"), :onChange => "this.form.submit();"

= simple_table_for @requests, with: RequestTable