/%p
/%input{:class=>'text',:value=>@filter}

=form_tag calendars_path, :method => :get do
	= select_tag 'filter_select', options_for_select([['Building', 'building'], ['Usage', 'usage'], ['Department', 'department']])
	= text_field_tag 'keyword', (params[:keyword] || ""), :placeholder => "Enter Keyword Here"
	= submit_tag "Filter", :class => 'btn', :id => "filter_submit"

= simple_table_for @calendars, with: CalendarTable