%h2 Purpose 
%p B-Cal Integration was created to help UC Berkeley's Civil Engineering Department manage their room reservations. It keeps information about the Google Calendars used to actually manage the rooms and allows users to view and modify them all in one convenient place.

%h2 Accounts
%p Public User. Anyone with UC Berkeley credentials can create a public user account. Public users can request to reserve rooms and view their individual request history.
%p Staff Admin. Can be created by the department admin or app admin. Staff admins can, in addition to what public users can do, view everyone's requests and accept or reject them.
%p Dept Admin. Can be created by the app admin. Department admins can, in addition to what staff users can do, create, view, update, and delete calendars.
%p App Admin. Can promote existing users to staff admin or department admin and also create new accounts of such roles.

%h2 Calendar Authentication Notes
%p To add a Google Calendar to B-Cal Integration, first create a calendar in the app with same e-mail address. The e-mail for a Google Calendar can be found in Calendar Settings > Calendar Details > Calendar Address > Calendar ID. Then, view the calendar in the app and click on "Click to Authenticate". Finally, sign in with the owning Google Account and click on "Approve" to grant B-Cal Integration permission to access and modify it. Note that you must provide the correct e-mail address for the desired calendar and sign in with the Google Account that owns that calendar or the app will fail silently and will not be able to work with it.

%hr
%p This site was built as a CS169 Fall 2013 Project.