%h2 Purpose 
%p B-Cal Integration was created to help UC Berkeley departments manage their room reservations.

%h2 Instructions for Use
%p To prevent scheduling conflicts, users may make a request for a room reservation and only admins can approve of that request.

%hr
%p This site was built by Patrick Fong, Bryan Chu, Stephen Martinis, James Zhou, Naing Aung, and Gani Bhaskara for our CS169 Fa13 Project.