%h2 Purpose 
%p B-Cal Integration was created to help UC Berkeley departments manage their room reservations. It keeps information about the Google Calendars used to actually manage the rooms  and allows users to work with them all in one convenient place.

= #someone please fill this in because I have no idea how the account levels work.
%h2 Account Levels
%ul Guests
%ul Admin
%ul App Admin
%ul Dept Admin

%h2 Authentication Notes
%p To connect a calendar created in B-Cal Inegration to a calendar on Google Calendars, give the calendars the same e-mail address. The e-mail for a Google Calendar can be found in Calendar Settings > Calendar Details > Calendar Address > Calendar ID. Then, view the calendar and click on "Click to Authenticate". Finally, sign in with the owning Google Account and click on "Approve" to grant B-Cal Integration permission to access and modify it. Note that you must provide the correct e-mail address for the desired Calendar and sign in with the Google Account that owns that calendar or the app will fail silently and will not be able to work with it.

%hr
%p This site was built as a CS169 Fall 2013 Project.